@use 'variables' as *;

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.2em solid $accent-color;
}

table {
    margin-top: $magic-number;
    margin-bottom: $magic-number;
}

hr {
    color: $accent-alternative-color;
}

.max-width {
    max-width: 100%;
}