@use 'variables' as *;

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $magic-number $magic-number;
    margin-bottom: calc($magic-number * 2);
}

.galleryimg {
    display: block;
    grid-column: span 1;
}

.embed-container {
    margin-top: calc($magic-number * 2);
    position: relative;
    padding: $magic-number;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}