@use 'variables' as *;

.landingpage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $magic-number $magic-number; 
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    margin-bottom: calc($magic-number / 1);
}

.box {
    grid-column: span 1;
    background-color: $accent-trans-color;
    backdrop-filter: blur(5px);
    padding: $magic-number;
    text-align: center;
    text-decoration: none;
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.git, 
.html, 
.python, 
.load {
    grid-column: span 2;
}

.sqlite,
.design-principles {
    grid-column: span 3;
}

@media (max-width: 768px) {
    .landingpage {
        grid-template-columns: 1fr;
    }

    .landingpage h1 {
        grid-column: span 1;
    }

    .git, 
    .html, 
    .python,
    .sqlite,
    .load,
    .design-principles {
        grid-column: span 1;
    }
}
