$font-color: #0D0D0D;
$font-alternative-color: #F2F2F2;
$accent-color: #A6A26D;
$background-color: #F2F2F2;
$background-alternative-color: #8C8177;

/*transparent versions */
$green-trans: rgba(166, 162, 109, 0.1);
$white-trans: rgba(242, 242, 242, 0.1);
$brown-trans: rgba(140, 129, 119, 0.1);
$black-trans: rgba(13, 13, 13, 0.1);


$magic-number: 1.96rem;


$color1: #A6A26D;
$color2: #59573E;
$color3: #8C8177;
$color4: #F2F2F2;
$color5: #0D0D0D;

/* Color Theme Swatches in Hex */
$Bouclair-Website-1-hex: #A6A26D;
$Bouclair-Website-2-hex: #59573E;
$Bouclair-Website-3-hex: #8C8177;
$Bouclair-Website-4-hex: #F2F2F2;
$Bouclair-Website-5-hex: #0D0D0D;

