$font-color: #0D0D0D !default;
$font-alternative-color: #F2F2F2 !default;
// $accent-color: #A6A26D !default;
$accent-color: #A2A969 !default;
$accent-alternative-color: #737560 !default;
$accent-trans-color: rgba(162, 169, 105, 0.2) !default;
$background-color: #F2F2F2 !default;
$background-alternative-color: #31331E !default;

/*transparent versions */
$green-trans: rgba(166, 162, 109, 0.1);
$white-trans: rgba(242, 242, 242, 0.1);
$brown-trans: rgba(140, 129, 119, 0.1);
$black-trans: rgba(13, 13, 13, 0.1);


$magic-number: 1.96rem;





$color1: #A6A26D;
$color2: #59573E;
$color3: #8C8177;
$color4: #F2F2F2;
$color5: #0D0D0D;
$color6: rgba(58, 58, 58, 0.8);

/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #A1A868;
$My-Color-Theme-2-hex: #737560;
$My-Color-Theme-3-hex: #414234;
$My-Color-Theme-4-hex: #31331E;
$My-Color-Theme-5-hex: #2F3313;

/* Color Theme Swatches in RGBA */
$My-Color-Theme-1-rgba: rgba(161, 168, 104, 1);
$My-Color-Theme-2-rgba: rgba(115, 117, 96, 1);
$My-Color-Theme-3-rgba: rgba(65, 66, 52, 1);
$My-Color-Theme-4-rgba: rgba(49, 51, 30, 1);
$My-Color-Theme-5-rgba: rgba(47, 51, 19, 1);

/* Color Theme Swatches in HSLA */
$My-Color-Theme-1-hsla: hsla(66, 26, 53, 1);
$My-Color-Theme-2-hsla: hsla(65, 9, 41, 1);
$My-Color-Theme-3-hsla: hsla(64, 11, 23, 1);
$My-Color-Theme-4-hsla: hsla(65, 25, 15, 1);
$My-Color-Theme-5-hsla: hsla(67, 45, 13, 1);

/* Color Theme Swatches in Hex */
$Bouclair-Website-1-hex: #A6A26D;
$Bouclair-Website-2-hex: #59573E;
$Bouclair-Website-3-hex: #8C8177;
$Bouclair-Website-4-hex: #F2F2F2;
$Bouclair-Website-5-hex: #0D0D0D;

